*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html{
    position:relative;
    height:100%;

}
body{

    background-color:#737373;
    margin:0;
    padding:0;
    width:100%;
    height:100%;


}

.container{
  width:100%;
  height:100%;
  max-width: 960px;
  background-color: #000;
  margin: 0 auto;
  box-shadow: 1px 1px 30px 10px #fff;

}


img{
    max-width:100%;
}

.paint-detective{
    display:flex;
    justify-content:center;
    height:calc(100vh - 110px);
    margin-right:5px;
}

.item{
    align-self:center;
}



a{
    text-decoration:none;
}

/*************************************
navbar
************************************/
.navbar{
    font-family: 'Agency FB', arial;
    text-align:center;
    padding-top:20px;
    font-size:1.4em;
    padding-bottom:20px;
}

.navbar a{
    color:#fff;
    border-right:2px #353535 solid;
    height:100%;
    padding:0 10px;


}


/***********************************
CONTACT
************************************/
.drip{
  height:100vh;
  background-color:#fff;
  width:100%;
}

.drip-image{
  /*background: url('../img/contact-drip.jpg') no-repeat center;
  background-size: cover;*/
  width: 100%;

}


.contact-info{
	margin: 0 auto;
  width:90%;
}


.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;

}

.contact-info a {

	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
  font-size:1.2em;
  font-weight:bold;
  color:#000;
}



.contact-info li.phone a {
   background-image: url('../img/phone.jpg');
}

.contact-info li.mail a {
   background-image: url('../img/mail.jpg');
}
